html,
body {
    height: 100%;
}

.mainContainer {
    height: 100%;
    margin: 20px 50px 10px 50px;
}

.checkBoxCol
{
    text-align: right;
    margin: auto 0 0 0;
}

.buttonsCol
{
    text-align: left;
    margin: auto 0 0 0;
}

.checkBoxCol > .form-check
{
    margin-bottom: 5px;
}

button.csvExport{
    width: fit-content;
}

.frequency{
    font-size: large;
    font-weight: bold;
}

.mvh-100 {
    min-height: 100vh;
}

.mvh-90 {
    min-height: 90vh;
}

.ag-theme-balham{
    
}

.container{
    min-width: 1350px;
}

.ReactModalPortal{
    z-index: 10;
    position: absolute;
}

.ReactModal__Content{
    margin: auto;
    position: absolute;
    width: 1000px;
}

.csvLoaderContainer {
    width: 100%;
    text-align: center;
}

#csv_loader {
    width: 350px;
    text-align: left;
    margin: 0 auto;
}

.custom-file input {
    cursor: pointer;
}

#map{
    margin-top: 77px;
    height: 700px;
}

.gridContainer {}

.grid {
    height: 700px;   
}

.grid-buttons {
    text-align: center;
}

.btn {
    font-weight: bold;
    width: 150px;
    margin: 10px;
}

@keyframes k-loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.k-i-loading.k-example-loading {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(144, 152, 165);
}

.k-i-loading.k-example-loading::before,
.k-i-loading.k-example-loading::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    content: "";
    box-sizing: inherit;
    border-radius: 50%;
    border-width: .05em;
    border-style: solid;
    border-color: currentColor;
    border-top-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
}

.k-icon.k-i-loading.k-example-loading::before,
.k-icon.k-i-loading::after {
    content: "";
}

.k-i-loading.k-example-loading::before {
    margin-top: -0.5em;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;
    animation: k-loading-animation .7s linear infinite;
}

.k-i-loading.k-example-loading::after {
    margin-top: -0.25em;
    margin-left: -0.25em;
    width: .5em;
    height: .5em;
    animation: k-loading-animation reverse 1.4s linear infinite;
}

.example-wrapper {
    min-height: 280px;
    align-content: flex-start;
}

.example-wrapper p,
.example-col p {
    margin: 20px 0 10px;
}

.example-wrapper p:first-child,
.example-col p:first-child {
    margin-top: 0;
}

.example-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
}

.example-config {
    margin: 0 0 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .08);
}

.event-log {
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, .08);
    background-color: white;
}

.event-log li {
    margin: 0;
    padding: .3em;
    line-height: 1.2em;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.event-log li:last-child {
    margin-bottom: -1px;
}